* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

/* ::-webkit-scrollbar {
  width: 15px;
  background-color: silver;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
} */
body {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;

  background-image: url("/game-memory-cards/public/img/basic.jpg");
  background-size: cover;
  /* box-shadow: inset 0 300vw 0 0px rgba(0, 0, 0, 0.5); */
}

div {
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
}

canvas {
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.card {
  /* border: 1px solid black; */
  transition: 0.4s;
  animation: rotateCard 0.2s linear;
}

@keyframes rotateCard {
  0% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.table {
  box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.returnBtn {
  position: fixed;
  left: 0;
  top: 0;

  transform: translateY(-10px);
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  background-image: url("/game-memory-cards/public/img/icon.png");
  background-size: 100% 100%;
  z-index: 3;
}
.link {
  display: block;
  z-index: 3;
  position: fixed;
  right: 5px;
  top: 5px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: silver;
  background-image: url("/game-memory-cards/public/img/copy.png");
  background-size: 100% 100%;
  z-index: 3;
}
.link:hover {
  background-color: white;
}

.interfejs {
  justify-self: flex-end;
  width: 100%;
  height: 100%;

  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

.tStatistics {
  /* min-height: calc(320px * 0.8); */
  min-width: 80%;
  max-width: 100%;
  /* min-width: calc(320px * 0.8); */
  background-color: #000;

  border-left: 2px solid silver;
  border-top: 2px solid silver;
  margin: 15px 0;

  text-transform: uppercase;

  border-radius: 15px 15px 0px 0px;

  color: silver;

  font-family: "courier";
  font-weight: 600;
  font-size: 1em;
  animation: fadeIn 0.2s forwards;
}
.tStatistics .th {
  padding: 15px 0;
}
.tStatistics .tr {
  text-align: center;

  color: silver;
  height: 45px;
}

.tStatistics .tr:nth-child(even) {
  background-color: silver;
  color: black;
}

.tStatistics .td {
  text-transform: none;
  border: 2px solid silver;
  padding: 2px;
}

.deleteInfo {
  width: 80%;
  height: 170px;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  box-shadow: inset 0 0 15px 0 red;
  font-family: "Courier New", Courier, monospace;

  /* animation: fadeIn 0.2s forwards; */
  background-color: silver;
  color: black;

  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 80%;
  height: 100px;

  background-color: black;
  border: none;
  border-left: 2px solid silver;
  border-top: 2px solid silver;

  border-radius: 15px;

  color: silver;

  font-family: "courier";
  font-weight: 600;
  font-size: 1.5em;

  animation: fadeIn 0.2s forwards;
}
.button:hover {
  background-image: url("/game-memory-cards/public/img/button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.red {
  background-color: red;
  height: 50px;
  font-size: 1.3em;
  font-weight: 800;
}
.red:hover {
  background-image: none;
}
@keyframes fadeIn {
  0% {
    color: black;
  }
  100% {
    color: silver;
  }
}

.hideRight {
  animation: hideRight 0.4s forwards linear;
}
@keyframes hideRight {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-15vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

/* LIB myAlert */
.tip {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 70px;
  background-color: black;
  color: silver;
  font-weight: 600;
  font-family: "courier";
  text-transform: capitalize;

  animation: tip 4s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  pointer-events: none;
}

@keyframes tip {
  10% {
    top: 60%;
  }
  15% {
    top: 45%;
  }
  20% {
    top: 55%;
  }
  25% {
    top: 50%;
  }
  90% {
    top: 50%;
  }
  100% {
    top: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-color: lightblue;
  }
  .returnBtn {
    width: 75px;
    height: 75px;
  }
  .link {
    width: 75px;
    height: 75px;
  }
}
